
<ion-content [fullscreen]="true">
  <div id="header">
    <div id="app-bar">
      <ion-icon name="arrow-back-outline" style="color: black;" (click)="close()"></ion-icon>
      <div id="logo">
        <img src="assets/icon/moio.png" alt="" />
      </div>
      <div></div>
    </div>
  </div>

<form [formGroup]="fGroupLocal">
  <div id="textLocal">
    <h1>Criar novo local</h1>
    <p>Cadastre um novo local para seus eventos, este cadastro é direcionado a locaslização</p>
    <div id="informacoes">
      <ion-input label="Nome do Local" formControlName="nomeL" labelPlacement="floating" [counter]="true" maxlength="100"></ion-input>
      <ion-input label="CEP" formControlName="cep" labelPlacement="floating" [counter]="true" maxlength="8"></ion-input>
      <ion-input label="Cidade" formControlName="cidade" labelPlacement="floating" [counter]="true" maxlength="70"></ion-input>
      <ion-input label="Rua" formControlName="rua" labelPlacement="floating" [counter]="true" maxlength="70"></ion-input>
      <ion-input label="Número" formControlName="numero" labelPlacement="floating" [counter]="true" maxlength="10"></ion-input>
    </div>
  </div>

  <ion-button shape="round" name="enviar" (click)="showLocal()">Criar novo local</ion-button>
</form>



</ion-content>
