ion-content{

  #header {
    height: 12%;
    background: #fff;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 20px;

    #app-bar {
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      icon-icon {
        font-size: 30px;
        width: 120px;
        margin-left: 10px;
        background: black;
      }

      #logo{
        margin-top: 4px;
        width: 15%;
        height: 0px;
        background-color: #fff;
        display: flex;
        justify-content: right;
        align-items: center;
        border-radius: 10px;
        align-self: center;
        margin-left: 450px;

        // img {
        //   width: 50%;
        // }
      }
    }
  }

  #textLocal {
    margin-left: 10px;

    #informacoes {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  ion-button {
    --background: #07ba10;
    margin-top: 20px;
    margin-left: 35%;
  }
}
